extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	//- section.home 
	//- 	.section_in
	//- 		a(href="#") 
	//- 			+icon('my-Space')

	section.main
		.main__row 
			
			.main__left-col
		
				.title 
					.title__info Сайт находится в разработке!
					.title__site Аренда авто
					.title__sity г. Минеральные воды
			
				.block__tel 
					.block__tel-txt По вопросам аренды
					.block__tel-link 
						a(href="tel:+79064419954") +7(906)441-99-54
			
			




				